<%- include('./partials/header') %>
  <body>
    <p id="greeting">Hello! Welcome to <%= title %>!</p>
    <div id="grab">
      Do you literally have the cutest cat ever? It your dog just simply the most funny thing in the entire world? Are they, quite plainly, better than your friends pets?<br>
      Well, there is now a way to prove it. Sign up today and you, your friends, and family can post photos captuing your animals being adorable. <br> 
      You all can rank each  post of a pet in a completely unbiased manner to officially decide who is Top Dog!
    </div>
    <!-- create the paw prints from styled, empty divs --> 
<div class="walking-paws">
  <div class="paw-print-1">
    <div class="pad large"></div>
    <div class="pad small-1"></div>
    <div class="pad small-2"></div>
    <div class="pad small-3"></div>
    <div class="pad small-4"></div>
  </div>
  
  <div class="paw-print-2">
    <div class="pad large"></div>
    <div class="pad small-1"></div>
    <div class="pad small-2"></div>
    <div class="pad small-3"></div>
    <div class="pad small-4"></div>
  </div>    
  
  <div class="paw-print-3">
    <div class="pad large"></div>
    <div class="pad small-1"></div>
    <div class="pad small-2"></div>
    <div class="pad small-3"></div>
    <div class="pad small-4"></div>
  </div>    
  
  <div class="paw-print-4">
    <div class="pad large"></div>
    <div class="pad small-1"></div>
    <div class="pad small-2"></div>
    <div class="pad small-3"></div>
    <div class="pad small-4"></div>
  </div>
  
  <div class="paw-print-5">
    <div class="pad large"></div>
    <div class="pad small-1"></div>
    <div class="pad small-2"></div>
    <div class="pad small-3"></div>
    <div class="pad small-4"></div>
  </div>
  
  <div class="paw-print-6">
  <div class="pad large"></div>
  <div class="pad small-1"></div>
  <div class="pad small-2"></div>
  <div class="pad small-3"></div>
  <div class="pad small-4"></div>
</div>

<div class="paw-print-7">
  <div class="pad large"></div>
  <div class="pad small-1"></div>
  <div class="pad small-2"></div>
  <div class="pad small-3"></div>
  <div class="pad small-4"></div>
</div>

<div class="paw-print-8">
  <div class="pad large"></div>
  <div class="pad small-1"></div>
  <div class="pad small-2"></div>
  <div class="pad small-3"></div>
  <div class="pad small-4"></div>
</div>
</body>
</html>
</div>
<%- include('./partials/footer') %>
