<%- include('./partials/header') %>
  <body>
    <h1><%= title %></h1>
    <p>Hello! Welcome to <%= title %>!</p>
    <div id="grab">
      Do you literally have the cutest cat ever? It your dog just simply the most funny thing in the entire world? Are they, quite plainly, better than your friends pets?<br>
      Well, there is now a way to prove it. Sign up today and you, your friends, and family can post photos captuing your animals being adorable. <br> 
      You all can rank each  post of a pet in a completely unbiased manner to officially decide who is Top Dog!
    </div>
  </body>
</html>
<%- include('./partials/footer') %>
