<%- include('./partials/header') %>

  <body>
    <div id="grab">
      Hello! Welcome to <%= title %>! <br>
        Do you literally have the cutest cat ever? Is your dog just simply the most funny thing in the entire world? Are
        they, quite plainly, better than your friends pets?
        Well, there is now a way to prove it. Sign in today and you, your friends, and family can post photos capturing
        your animals being adorable.
        You all can rank each post of a pet in a completely unbiased manner to officially decide who is Top Dog!
    </div>
    <!-- create the paw prints from styled, empty divs -->
  </body>

  </html>
  </div>
  <%- include('./partials/footer') %>