<%- include('../partials/header') %>

    <body>
    <form id="add-pet-form" action="/pets/create" method="POST">
            <label>Title:</label>
            <input type="text" name="title">
            <label>Pet Name:</label>
            <input type="text" name="petName">
            <label for="pic"> Attatch Photo Here:</label>
            <input type="text" name="petImg">
            <input type="submit" value="Post!">
        </form>
    </body>
    <%- include('../partials/footer') %>