
a {
  color: black;
}

#google-pic {
  max-width: 3vw;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
  }


body > nav {
  grid-area: nav;
  background-color: #f8b2b8;
  opacity: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: 
    linear-gradient(180deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgba(248, 184, 139,.2) 40%, rgba(248, 184, 139,.2) 60%, rgba(248, 184, 139,.4) 60%, rgba(248, 184, 139,.4) 80%, rgba(248, 184, 139,.5) 80%),
    linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgba(250, 248, 132,.4) 40%, rgba(250, 248, 132,.5) 40%, rgba(250, 248, 132,.5) 60%, rgba(250, 248, 132,.6) 60%, rgba(250, 248, 132,.6) 80%, rgba(250, 248, 132,.7) 80%),
    linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgba(186, 237, 145,.4) 60%, rgba(186, 237, 145,.4) 80%, rgba(186, 237, 145,.6) 80%),
    linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgba(178, 206, 254,.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(178, 206, 254,.8) 80%),
    linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgba(242, 162, 232,.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(242, 162, 232,.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(242, 162, 232,.8) 80%),
    linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.4) 20%, rgba(254, 163, 170,.4) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(254, 163, 170,.9) 80%);
  background-color: #fb8791;
  background-size: 100% 100%;
  min-height: 100%;
  padding: 20px;
  overflow-y: scroll;

}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: rgb(130, 123, 123);
  cursor: default;
}

#posts {
  max-width: 50%;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#grab {
  background-color: #f8b2b8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:30px;
  z-index: +2;
  font-size: 25px;
}
#greeting {
  background-color: #654321;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:30px;
  z-index: +2;
  font-size: 25px;
  color: #ccc;
}


/* create the paw prints */
.pad {
  width: 25px;
  height: 27px;
  background-color: #654321;
  -webkit-border-radius: 63px 63px 63px 63px / 108px     108px 72px 72px;
  border-radius: 50%  50%  50%  50%  / 60%   60%         40%  40%;
  display: block;
  position: absolute;
}       
.large {
 width: 70px;
 height: 80px;
 transform: rotate(80deg);
 left: 100px;
 top: 50px;
} 
.small-1 {
 transform: rotate(50deg);
 left: 145px;
 top: 28px;
}
.small-2 {
 transform: rotate(65deg);
 left: 174px;
 top: 50px;
}  
.small-3 {
 transform: rotate(98deg);
 position: absolute;
 left: 178px;
 top: 87px;
}
.small-4 {
 transform: rotate(140deg);
 position: absolute;
 left: 158px;
 top: 117px;
}
  
/* position and animate */
  
.paw-print-1 {
opacity: 0;
position: absolute;
left: 75px;
top: 300px;
transform: rotate(-40deg);
-webkit-animation: walk 3s linear infinite;
animation: /*keyframe*/walk /*duration*/3s /*transition*/linear /*repeat*/infinite;
}
.paw-print-2 {
opacity: 0;
position: absolute;
left: 275px;
top: 280px;
transform: rotate(-5deg); 
-webkit-animation: walk 3s linear infinite 0.25s;
animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-3 {
opacity: 0;
position: absolute;
left: 375px;
top: 130px;
transform: rotate(-10deg); 
-webkit-animation: walk 3s linear infinite 0.5s;
animation: walk 3s linear infinite 0.5s;
}     
.paw-print-4 {
opacity: 0;
position: absolute;
left: 575px;
top: 280px;
transform: rotate(-20deg); 
-webkit-animation: walk 3s linear infinite 0.75s;
animation: walk 3s linear infinite 0.75s;
}    
.paw-print-5 {
opacity: 0;
position: absolute;
left: 725px;
top: 50px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1s;
animation: walk 3s linear infinite 1s;
}   
.paw-print-6 {
opacity: 0;
position: absolute;
left: 875px;
top: 200px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1.25s;
animation: walk 3s linear infinite 1.25s;
}   
.paw-print-7 {
opacity: 0;
position: absolute;
left: 1075px;
top: 50px;
transform: rotate(20deg); 
-webkit-animation: walk 3s linear infinite 1.5s;
animation: walk 3s linear infinite 1.5s;
}   
.paw-print-8 {
opacity: 0;
position: absolute;
left: 1150px;
top: 250px;
transform: rotate(10deg); 
-webkit-animation: walk 3s linear infinite 1.75s;
animation: walk 3s linear infinite 1.75s;
}
  
/* walking effect animation keyframes */
  
@-webkit-keyframes walk {
25%  {opacity: .8;}
100% {opacity: 0;}
}
  
@keyframes walk {
/* appear */
25%  {opacity: .8;}
/* disappear */
100% {opacity: 0;}
}

.walking-paws {
  z-index: 1;
}